/***********************************
Importing fonts from google fonts 
**********************************/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Outfit:wght@100..900&display=swap');

/********************
 Universal Styles 
 *******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #038013;
    --secondary-color: #2e302f;
    --tertiary-color: #033b16;
    --font-color: #ffffff;
    --second-font-color: #000000;
    --outfit:"Outfit", sans-serif;
    --confortaa:"Comfortaa", sans-serif;
}

section{
    height: 100vh;
    width: 100%;

}

a{
    text-decoration: none;
    color: var(--font-color);
    
}

a:hover{
    color: var(--primary-color);
}

body{
    background: #ffffff;
    color:black;
    font-family: var(--outfit);
}

.btn{
    width: auto;
    padding: .5rem 2rem;
    text-decoration: none;
    color: var(--font-color);
    background-color: #033b16;
    border-radius: 15px;
}

.buttons{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

/* ***********************
        Hero
************************/



main{
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(3, 34, 13, 0.8), rgba(4, 37, 10, 0.8)), url('images/Main-bg.jpg') no-repeat center center/cover;
}

/* Navbar */

.navbar{
    height:8vh;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    
}
nav{
    display: flex;
    gap: 2rem;
}

select{
    border: none;
    background: transparent;
    color: white;
    font-family: var(--confortaa);
    
}
option{
    background-color: var(--second-font-color);
    border: none;
    border-radius: 0 0 15px 15px;
}

/* Hero */
.left-content{
    width: 48vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.left-content h1{
    font-size: 3rem;
    font-family: var(--confortaa);
    color: var(--font-color);
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 0 2rem;
    margin: 0 auto;
}
.hero-img{
    width: 50vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.hero-img img{
    border-radius: 15px;
    height: 100vh;
    width: auto;
}



/* biography */
.biography{
    border: 1px solid var(--primary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.biography-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding:2rem;
    margin: 0 auto;
}

.bio-img{
    max-height: 80vh;
    width: 48vw;
    overflow: hidden;
    border-radius: 15px;
}
.bio-img img{
    border-radius: 15px;
}

.bio-content{
    width: 48%;
}

/* What I offer */

.my-works{
    
    background:rgba(3, 34, 13, 0.9);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: var(--font-color);
}

.works{
    color: var(--second-font-color);
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.work-card{
  
    border-radius: 15px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--font-color);
    
}
.work-card:hover{
    box-shadow:0 0 20px var(--primary-color);
}

/* Skills  */
.skills{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

/* .skills * {
    border: #000000 1px solid;
}
 */
.line{
    height: 2px;
    background-color: var(--tertiary-color);
    width: 30rem;
}

.image-skills-pngs{
    max-width: 30vw;
}
.img-half-content{
    width: 69vw;
}


.half-image-top, .half-image-bottom{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.skills-grid-section{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;
    align-items: center;
    justify-content:center
}

.skills-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap: 1rem;
}

.skills-r-image img{
    width: 30vw;
}

.skill-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 15px;
    background-color: var(--font-color);
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.tally{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;
    background:rgba(3, 34, 13, 0.9);
    color: var(--font-color);
    gap: 3rem;
}

.tally h1{
    font-size: 3rem;
    color: var(--font-color);
}



.hidden{
    display: none;
}


.myprojects{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    height: 130vh;
}
.project-card{
  border-radius: 15px;
  background: var(--font-color);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.project-text{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.project-card img{
    max-width: 100%;
    border-radius: 15px;
}